body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 50px;
}

header h1 {
    font-size: 180px;
    text-transform: uppercase;
    margin: 0;
}

.sep {
    display: flex;
    align-items: flex-end;
}

video {
    height: 230px;
}

.right {
    margin-bottom: -4px;
}

.wall {
    border-top: 1px solid rgb(22, 22, 22);
    border-bottom: 1px solid rgb(22, 22, 22);
}

.wall p {
    font-size: 28px;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 4px;
}

.mos {
    font-size: 20px;
    width: 750px;
}

main .title {
    display: flex;
    align-items: flex-end;
    border-top: 20px solid rgb(22, 22, 22);
    border-bottom: 1px solid rgb(22, 22, 22);
}

.title h3 {
    text-transform: uppercase;
    font-size: 68px;
    margin: 5px 0;
}

.title p {
    font-style: italic;
    font-size: 22px;
    margin: 16px;
}

main .bracket {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.group {
    flex: 1;
}

.group .title {
    text-transform: uppercase;
    border-top: none;
    font-size: 18px;
    letter-spacing: 3px;
    margin: 15px 0;
}

.group .teams {
    display: flex;
    justify-content: space-between;
}

.group .teams .team {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: center;
    column-gap: 10px;
}

.group .teams .team img {
    height: 18px;
}

.group .teams .team p {
    font-family: Arial;
    font-size: 13px;
    color: rgb(66, 66, 66);
    margin: 8px 0;
}

.group .standing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(22, 22, 22);
}

.group .standing img {
    height: 22px;
}

.group .standing .left {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 10px;
}

.group .standing .left p {
    font-size: 18px;
    margin: 10px 0;
    margin-right: 10px;
}

.group .standing .right {
    margin-right: 15px;
    opacity: .5;
}
