body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 50px;
}

header h1 {
    font-size: 180px;
    text-transform: uppercase;
    margin: 0;
}

.sep {
    display: flex;
    align-items: flex-end;
}

video {
    height: 230px;
}

.right {
    margin-bottom: -4px;
}

.wall {
    border-top: 1px solid rgb(22, 22, 22);
    border-bottom: 1px solid rgb(22, 22, 22);
}

.wall p {
    font-size: 28px;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 4px;
}

.mos {
    font-size: 20px;
    width: 750px;
}

main .title {
    display: flex;
    align-items: flex-end;
    border-top: 20px solid rgb(22, 22, 22);
    border-bottom: 1px solid rgb(22, 22, 22);
}

.title h3 {
    text-transform: uppercase;
    font-size: 68px;
    margin: 5px 0;
}

.title p {
    font-style: italic;
    font-size: 22px;
    margin: 16px;
}

main .bracket {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.group {
    flex: 1;
}

.group .title {
    text-transform: uppercase;
    border-top: none;
    font-size: 18px;
    letter-spacing: 3px;
    margin: 15px 0;
}

.group .teams {
    display: flex;
    justify-content: space-between;
}

.group .teams .team {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: center;
    column-gap: 10px;
}

.group .teams .team img {
    height: 18px;
}

.group .first {
    background-color: rgb(253, 239, 239);
}

.group .mar {
    margin-top: 15px;
}

.group .teams .team p {
    font-family: Arial;
    font-size: 13px;
    color: rgb(66, 66, 66);
    margin: 8px 0;
}

.group .standing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(22, 22, 22);
}

.group .noBorder {
    border-bottom: 0;
}

.group .standing img {
    height: 22px;
}

.group .standing .left {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 10px;
}

.group .standing .left p {
    font-size: 18px;
    margin: 10px 0;
    margin-right: 10px;
}

.group .standing .right {
    margin-right: 15px;
    opacity: .5;
}


.vs {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    text-align: center;
    transform: rotate(45deg);
}

.versus {
    display: table-cell;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
    vertical-align: middle;
}

.rBracket {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.match {
    flex: 1;
    min-width: 400px;
}

.match p {
    font-size: 22px;
    margin: 8px 0;
    text-align: center;
}

.match .game {
    display: flex;
    position: relative;
    border-top: 1px solid rgb(22, 22, 22);
    border-bottom: 1px solid rgb(22, 22, 22);
    background-color: rgb(240, 240, 240);
}

.match .game .coun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 55px 0;
}

.match .game .winner {
    background-color: rgb(253, 239, 239);
    border: 3px solid black;
}

.match .game .loser img {
    -webkit-filter: grayscale(100%);
}

.match .game .bor {
    border-right: 1px solid black;
}

.match .game .coun img {
    height: 70px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.match .game .coun p {
    font-size: 18px;
    color: rgb(117, 117, 117);
    text-align: center;
    margin: 4px 0;
}

.game .vs {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    background-color: white;
}


